<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product </title>
</head>
<body>
    <h1>Edit a Product</h1>

    


<form action = "/products/<%=product._id%>?_method=PUT"  method="POST">
        <label for="name">Product Name</label>
        <input type="text" name="name" value="<%= product.name %>" placeholder="product name">

        <label for="price">Product Price</label>
        <input type="number" name="price" value="<%=product.price %>" placeholder="proudct price">

        <label for="category">Product Category</label>
        <select name="category" id="">
            <option value="fruit"  <%=product.category === 'fruit' ? 'selected' : '' %>>fruit</option>
            <option value="vegetable"  <%=product.category === 'vegetable' ? 'selected' : '' %>>vegetable</option>
            <option value="berry"  <%=product.category === 'berry' ? 'selected' : '' %>>berry</option>
        </select>
        <button>Submit</button>
    </form>
    
    <a href="/products">Cancle</a>
    
</body>
</html>