<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1>Add A Product for <%=farm.name%></h1>
    <form action="/farms/<%=id%>/products" method="POST">
        <label for="name">Product name</label>
        <input id="name" type="text" name="name" placeholder="product name">
        <label for="price">Price (Unit)</label>
        <input id="pricetype="number" name="price" placeholder="product price">
        
        <label for="category">Select Category</label>
        <select name="category" id="category">
            <%for (let category of categories) {%>
                <option value="<%=category%>"><%=category%></option>
            <%}%>
            <!-- <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            <option value="dairy">dairy</option> -->
        </select>

        <button>Submit</button>
    </form>

    <a href="/farms/<%=id%>">Back to the farm</a>
    
</body>
</html>